@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Playfair Display", serif;

}

html {
    font-size: 65.5%;
}

:root {
    --main-color: #d30d0d;
    --text-color: #141622;
}

/* <!-- top header section end --> */
.top-header .out-box {
    width: 100;
    background: var(--main-color);
}

.top-header .out-box .inside-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--text-color);
    padding: 1rem 0;
    clip-path: polygon(8% 0%, 92% 0%, 96% 100%, 5% 100%);
}

.out-box .inside-box .col-1 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    color: #fff;
    margin-left: 13rem;
}

.out-box .inside-box .col-1 span {
    font-size: 1.5rem;
}

.out-box .inside-box .col-1 span i {
    color: var(--main-color);
    padding-right: 0.5rem;
    font-size: 1.3rem;

}

.out-box .inside-box .col-2 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    color: #fff;
    margin-right: 13rem;
}

.out-box .inside-box .col-2 a,
.out-box .inside-box .col-2 span,
.out-box .inside-box .col-2 .social i {
    font-size: 1.0rem;
    color: #fff;
    transition: 0.4s;
}

.out-box .inside-box .col-2 .social {
    display: flex;
    gap: 0.9rem;
}

.out-box .inside-box .col-2 a i {
    padding-right: 0.5rem;
}

.out-box .inside-box .col-2 .social i:hover,
.out-box .inside-box .col-2 a:hover {
    color: var(--main-color);
}

/* ============== media query============= */
@media (max-width:1150px) {
    .out-box.inside-box .col1 {
        margin-left: 8rem;
    }

    .out-box.inside-box .col2 {
        margin-right: 8rem;
    }
}

@media (max-width:991px) {
    .top-header {
        display: none;
    }
}

/* ================navbar sectionn satrt============== */
.header {
    width: 100%;
    position: sticky;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.9%;
    background: #fff;
    box-shadow: 0 0 5px rgba(190, 190, 190, 0.5),
        0 0 10px rgba(190, 190, 190, 0.5);
    z-index: 111;
    transition: 0.4s ease;

}

.header .logo img {
    width: 100px;
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

nav .navbar ul li {
    padding: 2.5rem 0.5rem;
}


nav .navbar .navlinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;

}

nav .navbar .navlinks li a {
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
    position: relative;

}

nav .others {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav .others i {
    font-size: 1.9rem;
    color: var(--text-color);
    cursor: pointer;
}

nav .others .addBtn {
    position: relative;
    color: #fff;
    padding: 1.5rem 1.7rem;
    background: var(--main-color);
    font-size: 1.6rem;
    border-radius: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.7s;
}



nav .others .addBtn i,
nav .others .addBtn i:hover {
    color: #fff;
    padding-right: 0.5rem;
}

#menuBtn {
    font-size: 3.5rem;
}

nav .navbar ul li:hover,
nav .others i:hover {
    color: var(--main-color);
}

nav .navbar ul li a:hover,
nav .navbar ul li a.active {
    color: var(--main-color)
}

nav .navbar ul li .drop-down {
    position: absolute;
    top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: left;
    text-align: justify;
    width: 180px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(190, 190, 190, 0.5);
    padding: 1rem 0 0;
    display: none;
}

nav .navbar ul li:hover .drop-down {
    display: flex;
}

nav .navbar ul li .drop-down li {
    border-bottom: 1px solid rgba(190, 190, 190, 0.5);
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    z-index: 100;
    overflow: hidden;


}

nav .navbar ul li .drop-down li a {
    font-size: 1.5rem;
    transition: 0.4s ease;
}

nav .navbar ul li .drop-down li:hover a {
    font-size: 1.6rem;
    padding-left: 0.5rem;
}